/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5dddd;
}

header {
    text-align: center;
    padding: 20px;
}

input {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    background: rgb(205, 193, 193);
    border: 1px solid #7e7c7c;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 20px;
}

.card section {
    margin: 5px 0;
    /* font-weight:700; */
}

.card label {
    font-weight: 700;
}